Repository apache/allura: changes, and which pre-commit hooks are due for each by the changed paths.
All: tz-functions, noprint, notab, scss_extend_pattern

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    # general checks
    -   id: check-xml
    -   id: check-yaml
    -   id: check-json
        exclude: '.babelrc'
    -   id: check-merge-conflict
        fail_fast: true
    # python checks
    -   id: debug-statements
        exclude: '^Allura/allura/lib/utils.py$'
    # other checks
    -   id: check-docstring-first
        exclude: |
            (?x)^(
                Allura/allura/eventslistener.py|
                Allura/allura/lib/.*|
                scripts/teamforge-import.py
            )$


-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-check-blanket-noqa
        exclude: '^Allura/setup.py$'
    -   id: python-check-mock-methods
        exclude: '^Allura/allura/tests/test_tasks.py$'
    -   id: python-no-log-warn
    -   id: rst-backticks
        exclude:
          (?x)^(
                Allura/docs/.*|
                ForgeImporters/docs/.*
          )$
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal

# https://pre-commit.com/#pygrep
# mirrors test_syntax.py tests.  TODO have test_syntax.py run `pre-commit run --all-files utcnow` etc
-   repo: local
    hooks:
      # Use
      # .utcnow() rather than .now()
      # .utcfromtimestamp() rather than .fromtimestamp()
      # calendar.timegm() rather than mktime()
      - id: tz-functions
        name: don't use local tz functions
        language: pygrep
        types: [python]
        entry: '\.now\(|\.fromtimestamp\(|\.mktime\('
      - id: noprint
        name: check for print statements
        language: pygrep
        types: [python]
        entry: '\bprint\('
        exclude: |
            (?x)^(
                /tests/.*|
                Allura/allura/command/.*|
                Allura/ldap-setup.py|
                scripts/.*|
                Allura/ldap-userconfig.py|
                /scripts/.*|
                ForgeSVN/setup.py|
                Allura/allura/scripts/.*|
                Allura/allura/tests/.*|
                AlluraTest/alluratest/.*|
                ForgeGit/forgegit/tests/.*|
                fuse/.*|
                run_tests|
                ForgeSVN/forgesvn/tests/.*|
                ForgeWiki/forgewiki/tests/.*|
                ForgeImporters/forgeimporters/tests/.*
            )$
      - id: notab
        name: check for tabs
        language: pygrep
        types: [python]
        entry: '	'
# SCSS Syntax: could use placeholders instead of extending a class or tag directly
      - id: scss_extend_pattern
        name: search for scss invalid extend patterns in class elements
        language: pygrep
        types: [file, scss]
        entry: '@extend [^%]((?![\/\/]\stest_scss_extend_pattern allow).)*$'
        exclude: 'node_modules'


- repo:  https://github.com/milin/giticket
  rev: v1.3
  hooks:
  - id:  giticket
    args: ['--mode=regex_match', '--format=[#{ticket}] {commit_msg}', '--regex=[0-9]{4,}']


- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.283
  hooks:
    - id: ruff
      types: [python]

[#8529] fix repo root and /ref/ controller to handle unicode branch names
  Allura/allura/controllers/repository.py
  ForgeGit/forgegit/controllers.py
  ForgeGit/forgegit/tests/functional/test_controllers.py
  ForgeSVN/forgesvn/controllers.py
Due: tz-functions, noprint, notab

improve JS syntax and escaping
  Allura/allura/ext/admin/templates/project_trove.html
  Allura/allura/lib/widgets/forms.py
  Allura/allura/lib/widgets/resources/js/post.js
  Allura/allura/public/nf/js/site_admin_new_projects.js
  ForgeTracker/forgetracker/templates/tracker/ticket.html
  ForgeTracker/forgetracker/widgets/resources/js/mass-edit.js
  ForgeTracker/forgetracker/widgets/resources/js/ticket-list.js
Due: tz-functions, noprint, notab

add user_id index to oauth collections
  Allura/allura/model/oauth.py
Due: tz-functions, noprint, notab

restore c.project.notifications_disabled after a task (can matter in tests)
  Allura/allura/model/monq_model.py
Due: tz-functions, noprint, notab

[#8532] use ruff to check for print/debug/etc
  .pre-commit-config.yaml
  Allura/allura/lib/utils.py
  Allura/ldap-userconfig.py
  Allura/setup.py
  ruff.toml
  scripts/teamforge-import.py
Due: tz-functions, noprint, notab

[#8532] precommit autoupdate
  .pre-commit-config.yaml
Due: none

[#8532] add Bugbear ruff checks, other fixes
  Allura/allura/controllers/auth.py
  Allura/allura/lib/custom_middleware.py
  Allura/allura/lib/macro.py
  Allura/allura/model/timeline.py
  Allura/allura/tasks/repo_tasks.py
  Allura/allura/tests/model/test_artifact.py
  Allura/allura/tests/model/test_auth.py
  Allura/allura/tests/model/test_project.py
  Allura/allura/tests/unit/test_package_path_loader.py
  ForgeDiscussion/forgediscussion/model/forum.py
  ForgeDiscussion/forgediscussion/tests/functional/test_forum.py
  ForgeGit/forgegit/tests/model/test_repository.py
  ForgeSVN/forgesvn/tests/model/test_repository.py
  ForgeTracker/forgetracker/model/ticket.py
  ruff.toml
Due: tz-functions, noprint, notab

[#8532] fix E402
  Allura/allura/config/middleware.py
  Allura/allura/lib/app_globals.py
  Allura/allura/websetup/__init__.py
  ruff.toml
Due: tz-functions, noprint, notab

[#8533] switch to RFC-compliant email formatting which will wrap long unbreaking subjects correctly
  Allura/allura/lib/mail_util.py
  Allura/allura/tests/test_mail_util.py
  Allura/allura/tests/test_tasks.py
  ForgeDiscussion/forgediscussion/tests/functional/test_forum.py
  ForgeTracker/forgetracker/tests/functional/test_root.py
Due: tz-functions, noprint, notab

[#8533] remove old quoted-printable line length approach
  Allura/allura/lib/mail_util.py
  Allura/allura/tests/test_tasks.py
Due: tz-functions, noprint, notab

remove i18n, only was used a tiny bit in templates
  Allura/MANIFEST.in
  Allura/allura/config/app_cfg.py
  Allura/allura/i18n/ru/LC_MESSAGES/pyforge.po
  Allura/allura/templates/widgets/vote.html
  Allura/setup.cfg
  Allura/setup.py
Due: tz-functions, noprint, notab

[#8534] set up github codeql workflow
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

[#8534] fix some codeql warnings
  Allura/allura/lib/widgets/resources/js/jquery.colorPicker.js
  Allura/allura/templates/repo/commit.html
  ForgeImporters/forgeimporters/github/tracker.py
  ForgeTracker/forgetracker/widgets/resources/js/mass-edit.js
Due: tz-functions, noprint, notab

better --profile behavior for scripts, add option for outputfile
  Allura/allura/command/script.py
Due: tz-functions, notab

update RAT config to work with 0.16
  scripts/src-license-check/build.xml
  scripts/src-license-check/report_stylesheet.xsl
Due: none

more license headers on some files
  Allura/allura/templates_responsive/override/allura/templates/README.md
  AlluraTest/setup.cfg
  ForgeActivity/setup.cfg
  ForgeBlog/setup.cfg
  ForgeChat/setup.cfg
  ForgeDiscussion/setup.cfg
  ForgeFeedback/setup.cfg
  ForgeFiles/setup.cfg
  ForgeGit/setup.cfg
  ForgeImporters/setup.cfg
  ForgeLink/setup.cfg
  ForgeSVN/setup.cfg
  ForgeShortUrl/setup.cfg
  ForgeTracker/setup.cfg
  ForgeUserStats/setup.cfg
  ForgeWiki/setup.cfg
  rat-excludes.txt
Due: none

set ruff target version
  ruff.toml
Due: none

remove some old six.PY3 checks
  Allura/allura/config/middleware.py
  Allura/allura/lib/helpers.py
  Allura/allura/tests/unit/test_repo.py
Due: tz-functions, noprint, notab

[#8535] Upgrade ActivityStream 0.4.0 -> 0.4.1, and its deps: pymongo
  requirements.txt
Due: none

[#8535] Upgrade beaker-session-jwt 1.0.1 -> no upgrade, and its deps: Beaker,joserfc,cryptography,cffi,pycparser,pymongo
  requirements.txt
Due: none

[#8535] Upgrade EasyWidgets 0.4.1 -> no upgrade, and its deps: FormEncode,six,MarkupSafe,Paste,setuptools,six,python-dateutil,six,six,WebOb
  requirements.txt
Due: none

[#8535] Upgrade emoji 2.8.0 -> 2.9.0
  requirements.txt
Due: none

[#8535] Upgrade feedparser 6.0.10 -> 6.0.11, and its deps: sgmllib3k
  requirements.txt
Due: none

[#8535] Upgrade GitPython 3.1.37 -> 3.1.41, and its deps: gitdb,smmap
  requirements.txt
Due: none

[#8535] Upgrade Jinja2 3.1.2 -> 3.1.3, and its deps: MarkupSafe
  requirements.txt
Due: none

[#8535] Upgrade Markdown 3.5 -> 3.5.2
  requirements.txt
Due: none

[#8535] Upgrade Pillow 10.1.0 -> 10.2.0
  requirements.txt
Due: none

[#8535] Upgrade Pygments 2.16.1 -> 2.17.2
  requirements.txt
Due: none

[#8535] Upgrade Pypeline 0.6.1 -> no upgrade, and its deps: bleach,six,webencodings,html5lib,six,webencodings,Creoleparser,Genshi,six,six,Markdown,textile,html5lib,six,webencodings,regex,docutils
  requirements.txt
Due: none

[#8535] Upgrade pysolr 3.9.0 -> no upgrade, and its deps: requests,certifi,charset-normalizer,idna,urllib3
  requirements.txt
Due: none

[#8535] Upgrade qrcode 7.4.2 -> no upgrade, and its deps: pypng,typing-extensions
  requirements.txt
Due: none

[#8535] Upgrade TimerMiddleware 0.6.2 -> 0.6.3, and its deps: WebOb
  requirements.txt
Due: none

[#8535] Upgrade wrapt 1.15.0 -> 1.16.0
  requirements.txt
Due: none

[#8535] Upgrade ruff 0.0.292 -> 0.1.13
  requirements.txt
Due: none

[#8535] Upgrade testfixtures 7.2.0 -> 7.2.2
  requirements.txt
Due: none
