Repository apache/allura: changes, and which pre-commit hooks are due for each by the changed paths.
All: tz-functions, noprint, notab, scss_extend_pattern

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    # general checks
    -   id: check-xml
    -   id: check-yaml
    -   id: check-json
        exclude: '.babelrc'
    -   id: check-merge-conflict
        fail_fast: true
    # python checks
    -   id: debug-statements
        exclude: '^Allura/allura/lib/utils.py$'
    # other checks
    -   id: check-docstring-first
        exclude: |
            (?x)^(
                Allura/allura/eventslistener.py|
                Allura/allura/lib/.*|
                scripts/teamforge-import.py
            )$


-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-check-blanket-noqa
        exclude: '^Allura/setup.py$'
    -   id: python-check-mock-methods
        exclude: '^Allura/allura/tests/test_tasks.py$'
    -   id: python-no-log-warn
    -   id: rst-backticks
        exclude:
          (?x)^(
                Allura/docs/.*|
                ForgeImporters/docs/.*
          )$
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal

# https://pre-commit.com/#pygrep
# mirrors test_syntax.py tests.  TODO have test_syntax.py run `pre-commit run --all-files utcnow` etc
-   repo: local
    hooks:
      # Use
      # .utcnow() rather than .now()
      # .utcfromtimestamp() rather than .fromtimestamp()
      # calendar.timegm() rather than mktime()
      - id: tz-functions
        name: don't use local tz functions
        language: pygrep
        types: [python]
        entry: '\.now\(|\.fromtimestamp\(|\.mktime\('
      - id: noprint
        name: check for print statements
        language: pygrep
        types: [python]
        entry: '\bprint\('
        exclude: |
            (?x)^(
                /tests/.*|
                Allura/allura/command/.*|
                Allura/ldap-setup.py|
                scripts/.*|
                Allura/ldap-userconfig.py|
                /scripts/.*|
                ForgeSVN/setup.py|
                Allura/allura/scripts/.*|
                Allura/allura/tests/.*|
                AlluraTest/alluratest/.*|
                ForgeGit/forgegit/tests/.*|
                fuse/.*|
                run_tests|
                ForgeSVN/forgesvn/tests/.*|
                ForgeWiki/forgewiki/tests/.*|
                ForgeImporters/forgeimporters/tests/.*
            )$
      - id: notab
        name: check for tabs
        language: pygrep
        types: [python]
        entry: '	'
# SCSS Syntax: could use placeholders instead of extending a class or tag directly
      - id: scss_extend_pattern
        name: search for scss invalid extend patterns in class elements
        language: pygrep
        types: [file, scss]
        entry: '@extend [^%]((?![\/\/]\stest_scss_extend_pattern allow).)*$'
        exclude: 'node_modules'


- repo:  https://github.com/milin/giticket
  rev: v1.3
  hooks:
  - id:  giticket
    args: ['--mode=regex_match', '--format=[#{ticket}] {commit_msg}', '--regex=[0-9]{4,}']


- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.283
  hooks:
    - id: ruff
      types: [python]

[#8522] Upgrade pre-commit 3.4.0 -> 3.5.0, and its deps: cfgv,identify,nodeenv,setuptools,PyYAML,virtualenv,distlib,filelock,platformdirs
  requirements.txt
Due: none

8522 readding removed packages
  requirements.txt
Due: none

[8522] bumped urlib3 2.0.6 -> 2.0.7
  requirements.txt
Due: none

[#8523] use Bearer instead of token in auth header
  ForgeImporters/forgeimporters/github/__init__.py
  ForgeImporters/forgeimporters/tests/github/test_extractor.py
Due: tz-functions, noprint, notab

[#8523] let caller control use_auth_headers_on_redirects
  ForgeImporters/forgeimporters/github/__init__.py
  ForgeImporters/forgeimporters/tests/github/test_extractor.py
Due: tz-functions, noprint, notab

[#8523] random type hint
  Allura/allura/model/project.py
Due: tz-functions, noprint, notab

[#8523] never proactively sleep after a request (and then request again); only sleep if this request got limited
  ForgeImporters/forgeimporters/github/__init__.py
  ForgeImporters/forgeimporters/tests/github/test_extractor.py
Due: tz-functions, noprint, notab

[#8522] readding removed packages
  requirements.txt
Due: none

[#8522] bumped urlib3 2.0.6 -> 2.0.7
  requirements.txt
Due: none

[#8524] upgraded url installation path for Node in Docker file
  Allura/docs/getting_started/install_each_step.rst
  Dockerfile
Due: none

ignore warnings from inside other pkgs, fix a few warnings
  Allura/allura/ext/personal_dashboard/dashboard_main.py
  pytest.ini
Due: tz-functions, noprint, notab

fixup! [#8524] upgraded url installation path for Node in Docker file
  Dockerfile
Due: none

fixup! fixup! [#8524] upgraded url installation path for Node in Docker file
  Allura/docs/getting_started/install_each_step.rst
Due: none

[#8524] fix sphinx warning
  Allura/docs/conf.py
Due: tz-functions, noprint, notab

[#8524] upgraded installation steps for Node v16
  Allura/docs/getting_started/install_each_step.rst
  Dockerfile
Due: none

upgrade werkzeug
  requirements.txt
Due: none

fix solr 413 request too big for big batches
  Allura/allura/lib/solr.py
  Allura/allura/tasks/index_tasks.py
  Allura/allura/tests/unit/test_solr.py
Due: tz-functions, noprint, notab

[#8525] urlopen cleanup
  Allura/allura/lib/helpers.py
  Allura/allura/tests/test_helpers.py
  Allura/development.ini
  ForgeImporters/forgeimporters/base.py
  ForgeImporters/forgeimporters/tests/test_base.py
Due: tz-functions, noprint, notab

CHANGES updated for ASF release 1.16.0
  CHANGES
Due: none

update changelog for 1.16.0
  CHANGES
Due: none

improve some alluratest type hints
  AlluraTest/alluratest/validation.py
Due: tz-functions, notab

fully delete history snapshots when deleting artifacts (incl remove from solr)
  Allura/allura/model/artifact.py
Due: tz-functions, noprint, notab

fixup! fully delete history snapshots when deleting artifacts (incl remove from solr)
  Allura/allura/tests/model/test_artifact.py
Due: tz-functions, notab

fixup! fixup! fully delete history snapshots when deleting artifacts (incl remove from solr)
  Allura/allura/tests/model/test_artifact.py
Due: tz-functions, notab

fully delete history snapshots when deleting artifacts (incl remove from solr)
  Allura/allura/model/artifact.py
  Allura/allura/tests/model/test_artifact.py
Due: tz-functions, noprint, notab

[#8527] display thread subject instead of app name and tool label in header
  Allura/allura/controllers/discuss.py
Due: tz-functions, noprint, notab

Hide activitystream entries whose corresponding object has been deleted
  Allura/allura/model/timeline.py
Due: tz-functions, noprint, notab

[#8526] use new session cookie implementation
  Allura/allura/config/middleware.py
  Allura/allura/lib/decorators.py
  Allura/development.ini
  Allura/docs/getting_started/installation.rst
  Allura/production-docker-example.ini
  requirements.in
  requirements.txt
Due: tz-functions, noprint, notab

[#8528] pass allura_command to allura.command_init entry point functions; document it
  Allura/allura/command/base.py
  Allura/docs/development/extending.rst
Due: tz-functions, notab

fixup! [#8527] display thread subject instead of app name and tool label in header
  Allura/allura/controllers/discuss.py
Due: tz-functions, noprint, notab

dependency-check upgrade cryptography package to 41.0.7
  requirements.txt
Due: none

ticket's app titles should display current summary content
  ForgeTracker/forgetracker/tracker_main.py
Due: tz-functions, noprint, notab
