Repository apache/allura: changes, and which pre-commit hooks are due for each by the changed paths.
All: tz-functions, noprint, notab, scss_extend_pattern

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    # general checks
    -   id: check-xml
    -   id: check-yaml
    -   id: check-json
        exclude: '.babelrc'
    -   id: check-merge-conflict
        fail_fast: true
    # python checks
    -   id: debug-statements
        exclude: '^Allura/allura/lib/utils.py$'
    # other checks
    -   id: check-docstring-first
        exclude: |
            (?x)^(
                Allura/allura/eventslistener.py|
                Allura/allura/lib/.*|
                scripts/teamforge-import.py
            )$


-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-check-blanket-noqa
        exclude: '^Allura/setup.py$'
    -   id: python-check-mock-methods
        exclude: '^Allura/allura/tests/test_tasks.py$'
    -   id: python-no-log-warn
    -   id: rst-backticks
        exclude:
          (?x)^(
                Allura/docs/.*|
                ForgeImporters/docs/.*
          )$
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal

# https://pre-commit.com/#pygrep
# mirrors test_syntax.py tests.  TODO have test_syntax.py run `pre-commit run --all-files utcnow` etc
-   repo: local
    hooks:
      # Use
      # .utcnow() rather than .now()
      # .utcfromtimestamp() rather than .fromtimestamp()
      # calendar.timegm() rather than mktime()
      - id: tz-functions
        name: don't use local tz functions
        language: pygrep
        types: [python]
        entry: '\.now\(|\.fromtimestamp\(|\.mktime\('
      - id: noprint
        name: check for print statements
        language: pygrep
        types: [python]
        entry: '\bprint\('
        exclude: |
            (?x)^(
                /tests/.*|
                Allura/allura/command/.*|
                Allura/ldap-setup.py|
                scripts/.*|
                Allura/ldap-userconfig.py|
                /scripts/.*|
                ForgeSVN/setup.py|
                Allura/allura/scripts/.*|
                Allura/allura/tests/.*|
                AlluraTest/alluratest/.*|
                ForgeGit/forgegit/tests/.*|
                fuse/.*|
                run_tests|
                ForgeSVN/forgesvn/tests/.*|
                ForgeWiki/forgewiki/tests/.*|
                ForgeImporters/forgeimporters/tests/.*
            )$
      - id: notab
        name: check for tabs
        language: pygrep
        types: [python]
        entry: '	'
# SCSS Syntax: could use placeholders instead of extending a class or tag directly
      - id: scss_extend_pattern
        name: search for scss invalid extend patterns in class elements
        language: pygrep
        types: [file, scss]
        entry: '@extend [^%]((?![\/\/]\stest_scss_extend_pattern allow).)*$'
        exclude: 'node_modules'


- repo:  https://github.com/milin/giticket
  rev: v1.3
  hooks:
  - id:  giticket
    args: ['--mode=regex_match', '--format=[#{ticket}] {commit_msg}', '--regex=[0-9]{4,}']


- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.283
  hooks:
    - id: ruff
      types: [python]

[#8610] added licensing and environment variable for pre-commit
  .pre-commit-config.yaml
  AlluraTest/alluratest/test_syntax.py
Due: tz-functions, notab

[#8610] update req.txt to work on python 3.7 still
  requirements.txt
Due: none

[#2023] don't allow accessing a thread via another proj/app
  Allura/allura/controllers/discuss.py
Due: tz-functions, noprint, notab

[#2023] add is_meta to API for posts
  Allura/allura/model/discuss.py
  Allura/docs/api-rest/examples/ticket.json
  Allura/docs/api-rest/schemas/ticket.json
Due: tz-functions, noprint, notab

upgrade gitpython
  requirements.txt
Due: none

remove ticket history records when uninstalling a ticket tool
  ForgeTracker/forgetracker/tracker_main.py
Due: tz-functions, noprint, notab

CHANGES updated for ASF release 1.15.0
  CHANGES
Due: none

Update copyright year
  Allura/NOTICE
  Allura/docs/conf.py
  ForgeDiscussion/NOTICE
  ForgeGit/NOTICE
  ForgeImporters/NOTICE
  ForgeImporters/docs/conf.py
  ForgeLink/NOTICE
  ForgeSVN/NOTICE
  ForgeTracker/NOTICE
  ForgeWiki/NOTICE
  NOTICE
Due: tz-functions, noprint, notab

specify formats supported for screenshots (BMP or GIF could work too, but not recommended)
  Allura/allura/ext/admin/widgets.py
Due: tz-functions, noprint, notab

[#8519] Upgrade pre-commit 2.21.0 -> 3.4.0, and its deps: cfgv,identify,nodeenv,setuptools,PyYAML,virtualenv,distlib,filelock,platformdirs
  requirements.in
  requirements.txt
Due: none

[#8519] re pip-compile with python 3.8
  requirements.txt
Due: none

[#8519] drop py3.7 support: changed various 3.7 updates to 3.8 or other, etc.
  Allura/allura/lib/helpers.py
  Allura/allura/tests/exclude_from_rewrite_hook.py
  Allura/docs/getting_started/install_each_step.rst
  Allura/docs/getting_started/installation.rst
  CHANGES
  Dockerfile
  scripts/init-docker-dev.sh
  scripts/jenkins-run.sh
Due: tz-functions, noprint, notab

[#8519] Upgrade Werkzeug 2.3.6 -> 2.3.7, and its deps: MarkupSafe
  requirements.txt
Due: none

[#8519] ran 'pyupgrade --py38-plus --keep-mock ./**/*.py'
  scripts/teamforge-import.py
Due: tz-functions, notab

[#8519] Upgrade Pillow 10.0.0 -> 10.0.1
  requirements.txt
Due: none

update build status icon on readme
  README.markdown
Due: none

minor improvements to release script
  scripts/asf-release.sh
Due: none

restore 3.8 requirements (from [b0902319e])
  requirements.txt
Due: none

upgrade cryptography
  requirements.txt
Due: none

8521 noindex on empty tickets pages and added tickets app to be excluded by default for site maps
  Allura/allura/scripts/create_sitemap_files.py
  ForgeTracker/forgetracker/templates/tracker/index.html
Due: tz-functions, notab

fixup! 8521 noindex on empty tickets pages and added tickets app to be excluded by default for site maps
  Allura/allura/scripts/create_sitemap_files.py
Due: tz-functions, notab

[#8521] noindex on empty tickets pages
  ForgeTracker/forgetracker/templates/tracker/index.html
Due: none

[#skjold-checks] Upgrade requests 2.31.0 -> no upgrade, and its deps: certifi,charset-normalizer,idna,urllib3
  requirements.txt
Due: none

fixup! [#skjold-checks] Upgrade requests 2.31.0 -> no upgrade, and its deps: certifi,charset-normalizer,idna,urllib3
  requirements.txt
Due: none

replace deprecated "docker-compose" cmd with "docker compose"
  Allura/docs/development/contributing.rst
  Allura/docs/getting_started/administration.rst
  Allura/docs/getting_started/installation.rst
  scripts/jenkins-run.sh
Due: none

dependency update gitpython 3.1.35 -> 3.1.37
  requirements.txt
Due: none

[#8522] Upgrade emoji 2.7.0 -> 2.8.0
  requirements.txt
Due: none

[#8522] Upgrade faust-cchardet 2.1.18 -> 2.1.19
  requirements.txt
Due: none

[#8522] Upgrade Markdown 3.4.4 -> 3.5
  requirements.txt
Due: none

[#8522] Upgrade Ming 0.13.0 -> no upgrade, and its deps: pymongo,pytz
  requirements.txt
Due: none

[#8522] Upgrade PasteScript 3.3.0 -> no upgrade, and its deps: Paste,setuptools,six,PasteDeploy,setuptools,setuptools,six
  requirements.txt
Due: none

[#8522] Upgrade Pillow 10.0.1 -> 10.1.0
  requirements.txt
Due: none

[#8522] Upgrade Pygments 2.15.1 -> 2.16.1
  requirements.txt
Due: none

[#8522] Upgrade Pypeline 0.6.1 -> no upgrade, and its deps: bleach,six,webencodings,html5lib,six,webencodings,Creoleparser,Genshi,six,six,Markdown,textile,html5lib,six,webencodings,regex,docutils
  requirements.txt
Due: none

[#8522] Upgrade setproctitle 1.3.2 -> 1.3.3
  requirements.txt
Due: none

[#8522] Upgrade werkzeug 2.3.7 -> 3.0.0, and its deps: MarkupSafe
  requirements.txt
Due: none

[#8522] Upgrade ruff 0.0.281 -> 0.0.292
  requirements.txt
Due: none

[#8522] Upgrade testfixtures 7.1.0 -> 7.2.0
  requirements.txt
Due: none

[#8522] Upgrade pytest 7.4.0 -> 7.4.2, and its deps: iniconfig,packaging,pluggy
  requirements.txt
Due: none
